name: Check Markdown links
on: push
jobs:
  markdown-link-check:
    name: Broken Links
    runs-on: ubuntu-24.04
    steps:
      - name: Clone repository content
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          show-progress: false

      - name: Install markdown-link-check
        run: npm install -g markdown-link-check@3.11.2

      - name: Run markdown-link-check
        run: |
          find content/docs -type f -name '*.md' | \
              xargs markdown-link-check \
                --quiet \
                --config ./.github/workflows/markdown-link-check.json
